@using DOSP.Models
@model Developer

@{
    DataContext cd = new DataContext();

    if (User.IsInRole("Y"))
    {
        Developer d = cd.Developers.FirstOrDefault(x => x.User.Nickname == HttpContext.Current.User.Identity.Name);
        if (d.ID == Model.ID)
        {
            ViewBag.yapimci = true;
            ViewBag.nav = "yapimci";
        }
        else
        {
            ViewBag.yapimci = false;
            ViewBag.nav = "magaza";
        }
    }
    ViewBag.Title = Model.Name;
}

@section nav {
    @if (!ViewBag.yapimci)
    {
        <a href="/">Mağaza</a>
    }
    <a>@Model.Name</a>
}

@section scripts {
    <script>
        $("a#sil").click(function () {
            var sonuc = confirm("Oyun silinsin mi?");
            if (sonuc) {
                var id = $(this).data("oid");
                $.ajax(
                    {
                        type: "POST",
                        url: "/Magaza/Sil/" + id,
                        success: function () {
                            alert("Oyun başarıyla silindi.");
                            window.location.replace("/Magaza/Liste");
                        },
                        error: function () {
                            alert("Oyun silinirken hata meydana geldi.");
                        }
                    }
                );
            }
        });
    </script>
}

<h2 style="text-align: center;">@Model.Name</h2>

@if (ViewBag.yapimci)
{
    <a class="btn btn-yellow btn-right" href="/Magaza/Ekle" style="margin-top: 0">Oyun Ekle</a>
}

<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Fiyat (TL)</th>
        <th>Kategori</th>
        <th>Çıkış Tarihi</th>
        @if (ViewBag.yapimci)
        {
            <th width="140px">Kontrol Tuşları</th>
        }
    </tr>
    @foreach (Game g in ViewBag.oyun)
    {
        <tr>
            <td>@g.ID</td>
            <td><a href="/Magaza/Oyun/@g.ID">@g.Title</a></td>
            <td>@g.Price</td>
            <td>@g.Category.Name</td>
            <td>@g.ReleaseDate.ToString("dd.MM.yyyy")</td>
            @if (ViewBag.yapimci)
            {
                <td>
                    <a href="/Magaza/Duzenle/@g.ID" class="btn btn-green btn-left">Güncelle</a>
                    <a class="btn btn-red btn-right" id="sil" data-oid="@g.ID">Sil</a>
                </td>
            }
        </tr>
    }
</table>


