@using DOSP.Models
@model User

@{
    ViewBag.Title = "Kullanıcı Güncelle";
    ViewBag.nav = "aPanel";
}

@section nav {
    <a href="/AdminPaneli">Admin Paneli</a>
    <a href="/Kullanici">Kullanıcı</a>
    <a>@ViewBag.Title (@Model.Nickname)</a>
}

@functions {
    bool inRole(char role)
    {
        DataContext dc = new DataContext();
        User k = dc.Users.FirstOrDefault(x => x.ID == Model.ID);
        if (k.Role != null && k.Role.Contains(role))
        {
            return true;
        }
        return false;
    }
}

<h2>@ViewBag.Title</h2>

<form method="post" action="/Kullanici/Guncelle" class="form-content">
    <input type="hidden" name="ID" value="@Model.ID" />

    <label for="rumuz">Nickname</label>
    <input type="text" class="form-ctrl" placeholder="Rumuz" name="Nickname" value="@Model.Nickname" required />

    <label for="adSoyad">İsim Soyisim</label>
    <input type="text" class="form-ctrl" placeholder="İsim Soyisim" name="FullName" value="@Model.FullName" required />

    <label for="bakiye">Bakiye</label>
    <input type="number" class="form-ctrl" placeholder="Bakiye" name="Wallet" value="@Model.Wallet" />

    <label for="Şifre">Şifre</label>
    <input type="text" class="form-ctrl" placeholder="Kullanıcı şifresi" name="Password" value="@Model.Password" />
    <div style="float: left;">
        @Html.CheckBox("yapimci", inRole('Y'))
        <label for="yapimci" style="line-height: 15px; font-size: 12px; width: fit-content">Yapımcı</label>
    </div>

    <div style="float: right;">
        @Html.CheckBox("admin", inRole('A'))
        <label for="admin" style="line-height: 15px; font-size: 12px; width: fit-content">Admin</label>
    </div>
    <br />
    <input type="submit" value="Kaydet" class="btn btn-green" />
</form>

<div style="font-size: 12px; line-height: 15px;">
    <a href="/Kullanici">< Listeye Dön</a>
</div>