@{
    ViewBag.Title = "Kullanıcılar";
    ViewBag.nav = "aPanel";
}

@model List<DOSP.Models.User>

@section nav {
    <a href="/AdminPaneli">Admin Paneli</a>
    <a>@ViewBag.Title</a>
}

@section scripts {
    <script>
        $("a#sil").click(function () {
            var sonuc = confirm("Kullanıcı silinsin mi?");
            if (sonuc) {
                var id = $(this).data("kid");
                $.ajax(
                    {
                        type: "POST",
                        url: "/Kullanici/Sil/" + id,
                        success: function () {
                            alert("Kullanıcı başarıyla silindi.");
                            window.location.replace("/Kullanici");
                        },
                        error: function () {
                            alert("Kullanıcı silinirken hata meydana geldi.");
                        }
                    }
                );
            }
        });
    </script>
}

<table style="width: 100%;">
    <tr>
        <td>ID</td>
        <td>Rumuz</td>
        <td>Adı/Soyadı</td>
        <td>Kayıt Tarihi</td>
        <td>Bakiye (TL)</td>
        <td width="140px">Kontrol Tuşları</td>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <th>@u.ID</th>
            <th>@u.Nickname</th>
            <th>@u.FullName</th>
            <th>@u.RegistrationDate.ToString("dd.MM.yyyy")</th>
            <th>@u.Wallet</th>
            <th>
                <a href="/Kullanici/Guncelle/@u.ID" class="btn btn-green btn-left">Güncelle</a>
                <a class="btn btn-red btn-right" id="sil" data-kid="@u.ID">Sil</a>
            </th>
        </tr>
    }
</table>