@using DOSP.Models
@model List<Ticket>

@{
    ViewBag.Title = "Geçmiş Ticketlar";
    ViewBag.nav = "destek";
}

@section nav {
    <a href="/Destek">Destek</a>
    <a>@ViewBag.Title</a>
}

@if (ViewBag.Ticket.Count > 0)
{
    <table>
        <tr>
            <th>Ticket ID</th>
            <th>Kullanıcı</th>
            <th>Konu</th>
            <th>Tarih</th>
        </tr>
        @foreach (Ticket x in ViewBag.Ticket)
        {
            <tr>
                <td><a href="/Destek/TicketGoruntule/@x.ID">@x.ID</a></td>
                <td>@x.User.Nickname</td>
                <td>@x.Title</td>
                <td>@x.CreatedAt.ToString("dd.MM.yyyy H:mm")</td>
            </tr>
        }
    </table>
}
else
{
    <h3>Herhangi bir Ticket'ınız bulunmamaktadır.</h3>
}
<br />
@if (ViewBag.Rapor.Count > 0)
{
    <table>
        <tr>
            <th>Rapor ID</th>
            <th>Rapor Türü</th>
            <th>Kullanıcı</th>
            <th>Rapor Tarihi</th>
        </tr>
        @foreach (Report r in ViewBag.Rapor)
        {
            <tr>
                <td><a href="/Destek/RaporGoruntule/@r.ID">@r.ID</a></td>
                <td>@r.ReportCategory.Name</td>
                <td>@r.User.Nickname</td>
                <td>@r.ReportDate.ToString("dd.MM.yyyy H:mm")</td>
            </tr>
        }
    </table>
}
else
{
    <h3>Herhangi bir raporunuz bulunmamaktadır.</h3>
}