@{
    ViewBag.Title = "Rapor";
    ViewBag.nav = "destek";
}

@using DOSP.Models
@model List<ReportCategory>

@section nav {
    <a href="/Destek">Destek</a>
    <a>Rapor (@ViewBag.Oyun.Title)</a>
}

<h1>Oyunu Raporla</h1>

<form action="/Destek/Rapor" method="post" class="form-content" role="form">
    <input type="hidden" name="GameID" value="@ViewBag.Oyun.ID" />

    <label>Lütfen konuyu seçiniz</label>
    <select class="form-ctrl" name="CategoryID" required>
        @foreach (ReportCategory rC in Model)
        {
            <option value="@rC.ID" title="@rC.Description">@rC.Name</option>
        }
    </select>

    <label>Açıklama</label>
    <textarea class="form-ctrl" name="Description" placeholder="Şikayetinizle alakalı daha çok açıklama girebilirsiniz."></textarea>

    <input type="submit" class="btn btn-yellow" value="Gönder" />

</form>

<a href="/Magaza/Oyun/@ViewBag.Oyun.ID" style="font-size: 12px; line-height: 15px;">< Oyuna Dön</a>