@{
    ViewBag.Title = "Profil";
    ViewBag.nav = "profil";
    int oyunSayisi = ViewBag.kutuphane.Count;
    int i = 0;
}

@using DOSP.Models
@model User

@section nav {
    <a>@Model.Nickname</a>
}

<div class="user-header">
    <img class="user-img" src="~/Content/Images/users/@Model.ProfilePicture" />
    <h2 id="regdate">@Model.RegistrationDate.ToString("dd MMMM yyyy")</h2>
    <h1 class="username">@Model.Nickname</h1>
    <br />
    <h2 id="realname">@Model.FullName</h2>
</div>

<div class="container-hasGames">
    <h1>@oyunSayisi Oyun Sahibi</h1>
</div>
<div class="user-gamelist">
    @foreach (Library l in ViewBag.kutuphane)
    {
        <div class="user-game">
            <img src="~/Content/Images/gcont/@l.Game.CoverPhoto" />
            <a href="/Magaza/Oyun/@l.GameID">@l.Game.Title</a>
        </div>
        if (++i >= 4)
        {
            <div class="user-limit">
                <h1>+@(oyunSayisi-4) OYUN</h1>
            </div>
            break;
        }
    }
</div>