@using DOSP.Models
@model List<BasketGame>

@{
    ViewBag.Title = "Sepet";
    ViewBag.nav = "profil";
}

@section nav {
    <a>@ViewBag.Title</a>
}

@section scripts {
    <script>
        $("a#remove").click(function () {
            var sonuc = confirm("Sepetten kaldırılsın mı?");
            if (sonuc) {
                var id = $(this).data("sid");
                $.ajax(
                    {
                        type: "POST",
                        url: "/Sepet/Kaldir/" + id,
                        success: function () {
                            window.location.replace("/Sepet");
                        },
                        error: function () {
                            alert("Sepetten kaldırılırken hata oluştu.");
                        }
                    }
                );
            }
        });

        $("a.cart-purchase").click(function () {
            var id = @ViewBag.sid;
            var toplam = $(this).data("toplam");
            var bakiye = @ViewBag.bakiye;

            if (bakiye < toplam) {
                alert("Bakiyeniz satın alım için yetersizdir.");
            } else {
                $.ajax(
                    {
                        type: "POST",
                        url: "/Sepet/SatinAl/" + id,
                        success: function () {
                            alert("Satın alım başarılı. Hayırlı olsun!");
                            window.location.replace("/Kutuphane");
                        },
                        error: function () {
                            alert("Satın alımda bir hata yaşandı.");
                        }
                    }
                );
            }
       });
    </script>
}

<h2>Sepetin</h2>
@if (Model.Count != 0)
{
    int toplam = 0;
    foreach (BasketGame bG in Model)
    {
        <div class="cart-item">
            <img src="~/Content/Images/gcont/@bG.Game.CoverPhoto" />
            <a href="~/Magaza/Oyun/@bG.GameID" class="name">@bG.Game.Title</a>
            <div class="cart-price">
                <a class="fas fa-times" id="remove" data-sid="@bG.ID" title="Sepetten Kaldır"></a>
                <h1>@bG.Game.Price</h1>
            </div>
            @{ toplam += bG.Game.Price; }
        </div>
    }
    <div class="cart-complete">
        <div class="cart-total">
            <h1>Tutar: @toplam</h1>
        </div>
        <a class="cart-purchase" data-toplam="@toplam">Satın Al</a>
    </div>
}
else
{
    <p>Sepetiniz boş gözüküyor. Oyunlara göz atmak için <a href="/Magaza/Giris">Mağaza</a> sayfasını kullanabilirsiniz.</p>
}