
@{
    ViewBag.Title = "Ticket";
    ViewBag.nav = "aPanel";
}

@section nav {
    <a href="/AdminPaneli">Admin Paneli</a>
    <a href="/AdminDestek">Destek</a>
    <a>@ViewBag.Title</a>
}

@using DOSP.Models
@model List<Ticket>

<table>
    <tr>
        <th>Ticket ID</th>
        <th>Kullanıcı ID</th>
        <th>Rumuz</th>
        <th>Konu</th>
        <th>Tarih</th>
    </tr>
    @foreach (Ticket t in Model)
    {
        <tr>
            <td><a href="/AdminDestek/ATicketGoruntule/@t.ID">@t.ID</a></td>
            <td>@t.UserID</td>
            <td>@t.User.Nickname</td>
            <td>@t.Title</td>
            <td>@t.CreatedAt.ToString("dd.MM.yyyy H:mm")</td>
        </tr>
    }
</table>