@{
    ViewBag.Title = "Giriş Yap";
    ViewBag.nav = "index";
}

@model DOSP.Models.User

@section nav {
    <a>@ViewBag.Title</a>
}

@using (Html.BeginForm("Index", "Giris", new { ReturnUrl = Request.QueryString["ReturnUrl"], FormMethod.Post }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.TextBoxFor(x => x.Nickname, new { @class = "form-ctrl", placeholder = "Kullanıcı Adı", autofocus = "autofocus" })
    <br />
    @Html.PasswordFor(x => x.Password, new { @class = "form-ctrl", placeholder = "Parola" })
    <br />
    <input type="submit" class="btn btn-green" value="Giriş Yap" />
}

<p>Bir hesabınız yok mu? <a href="/Giris/Kayit">Kayıt olun.</a></p>