@model DOSP.Models.User

@{
    ViewBag.Title = "Kayıt Ol";
    ViewBag.nav = "index";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Kayit", "Giris", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-col">
        <label for="rumuz">Kullanıcı Adı</label>
        @Html.TextBoxFor(m => m.Nickname, new { @class = "form-ctrl", @placeholder = "Kullanıcı Adı" })

        <label for="adSoyad">İsim Soyisim</label>
        @Html.TextBoxFor(m => m.FullName, new { @class = "form-ctrl", @placeholder = "İsim Soyisim" })

        <label for="sifre">Şifre</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-ctrl", @placeholder = "Parola" })

        <input type="submit" class="btn btn-yellow" value="Kayıt Ol" />
    </div>
}

<p>Bir hesabınız var mı? <a href="/Giris">Giriş yapın.</a></p>