
@{
    ViewBag.Title = "Arama Sonuçları";
    ViewBag.nav = "magaza";
}

@section nav {
    <a>@ViewBag.Title</a>
    <a></a>
    @ViewBag.ara
}

@using DOSP.Models

@if ((ViewBag.oyun == null || ViewBag.yapimci == null) || (ViewBag.oyun.Count == 0 && ViewBag.yapimci.Count == 0))
{
    <div style="text-align: center;">
        <h2>Hiçbir sonuç bulamadık.</h2>
        <h5>Belki başka bir şekilde aratsan?</h5>
        <br />
        <i class="fas fa-robot" style="font-size: 80px; transform: rotate(-15deg); color: #666;"></i>
    </div>
}
else
{
    if (ViewBag.oyun.Count > 0)
    {
        <h4>Aradığın sonuca uygun oyunlar: </h4>
        <br />
        <table>
            <tr>
                <th>Oyun Adı</th>
                <th>Oyun Fiyatı(TL)</th>
                <th>Çıkış Tarihi</th>
                <th>Kategori</th>
                <th>Yapımcı</th>
            </tr>
            @foreach (Game g in ViewBag.oyun)
            {
                <tr>
                    <td><a href="/Magaza/Oyun/@g.ID">@g.Title</a></td>
                    <td>@g.Price</td>
                    <td>@g.ReleaseDate.ToString("dd.MM.yyyy")</td>
                    <td>@g.Category.Name</td>
                    <td><a href="/Yapimci/Firma/@g.DeveloperID">@g.Developer.Name</a></td>
                </tr>
            }
        </table>
    }
    else
    {
        <h5 style="text-align: center;">Arama sonucunuza uygun oyun bulunamadı.</h5>
    }
    if (ViewBag.yapimci.Count > 0)
    {
        <div class="content-border"></div>
        <h4>Bulduğumuz yapımcılar:</h4>
        <ul style="list-style: none;">
            @foreach (Developer d in ViewBag.yapimci)
            {
                <li><a href="/Yapimci/Firma/@d.ID">@d.Name</a></li>
            }
        </ul>
    }
    else
    {
        <h5 style="text-align: center;">Böyle bir yapımcı bulunamadı.</h5>
    }
}