@using DOSP.Models
@model Game

@{
    ViewBag.Title = "Oyun Düzenle";
    ViewBag.nav = "magaza";

    DataContext dc = new DataContext();
    ViewBag.kullanici = dc.Users.FirstOrDefault(x => x.Nickname == HttpContext.Current.User.Identity.Name);
}

@section nav {
    <a href="/">Mağaza</a>
    <a href="/Magaza/Liste">Oyun Listesi</a>
    <a>@ViewBag.Title</a>
}

<h2>@ViewBag.Title</h2>

<form method="post" action="/Magaza/Duzenle" class="form-content">
    <input type="hidden" name="ID" value="@Model.ID" />

    <label for="isim">İsim</label>
    <input type="text" class="form-ctrl" placeholder="Oyunun ismi" name="Title" value="@Model.Title" required />

    <label for="Fiyat">Fiyat</label>
    <input type="number" class="form-ctrl" placeholder="Oyunun fiyatı" name="Price" value="@Model.Price" required />

    <label for="Açıklama">Açıklama</label>
    <textarea class="form-ctrl" placeholder="Oyunun açıklaması" name="Description">@Model.Description</textarea>

    <label for="Çıkış Tarihi">Çıkış Tarihi</label>
    <input type="date" class="form-ctrl" placeholder="Çıkış tarihi" name="ReleaseDate" value="@Model.ReleaseDate" required/>

    <label for="Kategori">Kategori</label>
    <select class="form-ctrl" name="CategoryID" required>
        @foreach (Category c in ViewBag.ktg)
        {
            if (c.ID == Model.CategoryID)
            {
                <option value="@c.ID" selected>@c.Name</option>
            }
            else
            {
                <option value="@c.ID">@c.Name</option>
            }
        }
    </select>

    <label for="Yapımcı">Yapımcı</label>
    <select class="form-ctrl" name="DeveloperID" disabled>
        <option value="@ViewBag.yapimci.ID" selected>@ViewBag.yapimci.Name</option>
    </select>

    <input type="submit" value="Kaydet" class="btn btn-green" />
</form>

<div style="font-size: 12px; line-height: 15px;">
    @Html.ActionLink("< Listeye Dön", "Liste")
</div>