@using DOSP.Models
@model Developer

@{
    ViewBag.Title = "Oyun Ekle";
    ViewBag.nav = "magaza";

    @*if (ViewBag.yapimci is null)
            {

            }*@
}

@section nav {
    <a href="/">Mağaza</a>
    <a href="/Magaza/Liste">Oyun Listesi</a>
    <a>@ViewBag.Title</a>
}

<h2>@ViewBag.Title</h2>

<form method="post" action="/Magaza/Ekle" class="form-content">
    <label for="isim">İsim</label>
    <input type="text" class="form-ctrl" placeholder="Oyunun ismi" name="Title" required />

    <label for="Fiyat">Fiyat</label>
    <input type="number" class="form-ctrl" placeholder="Oyunun fiyatı" name="Price" required />

    <label for="Açıklama">Açıklama</label>
    <textarea class="form-ctrl" placeholder="Oyunun açıklaması" name="Description"></textarea>

    <label for="Çıkış Tarihi">Çıkış Tarihi</label>
    <input type="date" class="form-ctrl" placeholder="Çıkış tarihi" name="ReleaseDate" />

    <label for="Kategori">Kategori</label>
    <select class="form-ctrl" name="CategoryID" required>
        <option value="0" selected>Kategori seçiniz</option>
        @foreach (Category c in ViewBag.ktg)
        {
            <option value="@c.ID">@c.Name</option>
        }
    </select>

    <label for="Yapımcı">Yapımcı</label>
    <select class="form-ctrl" name="DeveloperID" disabled>
        <option value="@Model.ID" selected>@Model.Name</option>
    </select>

    <input type="submit" value="Oluştur" class="btn btn-green" />
</form>

<a style="font-size: 12px; line-height: 15px;" href="/Yapimci/Firma">< Listeye Dön</a>