@using DOSP.Models
@model List<Game>

@{
    ViewBag.Title = "Mağaza";
    ViewBag.Nav = "magaza";
    DataContext dc = new DataContext();
    User user = dc.Users.FirstOrDefault(x => x.Nickname == HttpContext.Current.User.Identity.Name);
}

@functions {
    bool UserHasGame(int OyunID)
    {
        DataContext dc = new DataContext();
        User k = dc.Users.FirstOrDefault(x => x.Nickname == HttpContext.Current.User.Identity.Name);
        List<Library> lib = dc.Libraries.Where(x => x.UserID == k.ID).ToList();
        foreach (var l in lib)
        {
            if (l.GameID == OyunID)
            {
                return true;
            }
        }
        return false;
    }

    bool GameInCart(int OyunID)
    {
        DataContext dc = new DataContext();
        int SepetID = dc.Baskets.FirstOrDefault(x => x.User.Nickname == HttpContext.Current.User.Identity.Name).BasketID;
        List<BasketGame> sO = dc.BasketGames.Where(x => x.BasketID == SepetID).ToList();
        foreach (var bG in sO)
        {
            if (bG.GameID == OyunID)
            {
                return true;
            }
        }
        return false;
    }
}

@section nav {
    <a id="later">@ViewBag.Title</a>
}

@section scripts {
    <script>
        $("#not-found").hide();

        $('input').click(function () {              //Kategoriye göre filtrele
            var ktgid = $(this).val();
            var anyShown = false;

            $(".game-content").each(function () {
                if (ktgid != 0) {
                    if ($(this).data("ktgid") == ktgid) {
                        $(this).show();
                        anyShown = true;
                    } else {
                        $(this).hide();
                    }
                } else {
                    $(this).show();
                    anyShown = true;
                }
            });

            if (!anyShown) $("#not-found").show();
            else $("#not-found").hide();
        });

        $("a#canBeAdded").click(function () {       //Sepete ekle
            var id = $(this).data("oid");
            $.ajax(
                {
                    type: "POST",
                    url: "/Sepet/Ekle/" + id,
                    success: function () {
                        window.location.replace("/");
                    },
                    error: function () {
                        alert("Sepete eklenirken hata oluştu.");
                    }
                }
            );
        });
    </script>
}

<div class="game-container">
    <div class="game-list">
        <div id="not-found">Oyun bulunamadı.</div>

        @foreach (Game g in Model)
        {
            <div class="game-content" data-ktgid="@g.CategoryID">
                <img src="~/Content/Assets/Images/game-photo.jpg" />
                <div class="game-desc">
                    <a href="/Magaza/Oyun/@g.ID">@g.Title</a>
                    <h1>Yapımcı: <a href="/Yapimci/Firma/@g.DeveloperID">@g.Developer.Name</a> | Kategori: @g.Category.Name</h1>
                </div>
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    if (UserHasGame(g.ID))
                    {
                        ViewBag.gamePriceID = "cannotBeAdded";
                        ViewBag.gamePriceTitle = null;
                        ViewBag.gamePriceHover = "Kütüphanede";
                        ViewBag.icon = "archive";
                        ViewBag.link = "/Kutuphane";
                    }
                    else if (GameInCart(g.ID))
                    {
                        ViewBag.gamePriceID = "inCart";
                        ViewBag.gamePriceTitle = null;
                        ViewBag.gamePriceHover = "Sepette";
                        ViewBag.icon = "check";
                        ViewBag.link = "/Sepet";
                    }
                    else
                    {
                        ViewBag.gamePriceID = "canBeAdded";
                        ViewBag.gamePriceTitle = g.Price + "TL";
                        ViewBag.gamePriceHover = "Sepete Ekle";
                        ViewBag.icon = "shopping-basket";
                        ViewBag.link = null;
                    }
                    <a class="game-price" id="@ViewBag.gamePriceID" title="@ViewBag.gamePriceHover" data-oid="@g.ID" href="@ViewBag.link">
                        <i class="fas fa-@ViewBag.icon"></i>
                        @if (ViewBag.gamePriceTitle != null)
                        {
                            <h1>@ViewBag.gamePriceTitle</h1>
                        }
                    </a>
                }
                else
                {
                    <a class="game-price" id="notLogged" title="Oyunu satın alabilmek için giriş yapın." href="/Giris">
                        <h1>@(g.Price + "TL")</h1>
                    </a>
                }
            </div>
        }
    </div>
    <div class="game-filter">
        <div class="filter-block-header">Kategori</div>
        <div class="filter-block-cont">
            <label class="checkbox">
                Hepsi
                <input type="radio" checked="checked" value="0" name="radio">
                <span class="checkmark"></span>
            </label>
            @foreach (Category c in ViewBag.kategori)
            {
                <label class="checkbox">
                    @c.Name
                    <input type="radio" name="radio" value="@c.ID" />
                    <span class="checkmark"></span>
                </label>
            }
        </div>
        @if (/*HttpContext.Current.User.Identity.IsAuthenticated && */User.IsInRole("A"))
        {
            <a href="/Magaza/Liste" class="btn btn-yellow btn-right">Oyun Listesi</a>
        }
    </div>
</div>
