@using DOSP.Models
@model List<Game>

@{
    ViewBag.Title = "Oyun Listesi";
    ViewBag.nav = "magaza";
}

@section nav {
    <a href="/">Mağaza</a>
    <a>@ViewBag.Title</a>
}

@section scripts {
    <script>
        $("a#sil").click(function () {
            var sonuc = confirm("Oyun silinsin mi?");
            if (sonuc) {
                var id = $(this).data("oid");
                $.ajax(
                    {
                        type: "POST",
                        url: "/Magaza/Sil/" + id,
                        success: function () {
                            alert("Oyun başarıyla silindi.");
                            window.location.replace("/Magaza/Liste");
                        },
                        error: function () {
                            alert("Oyun silinirken hata meydana geldi.");
                        }
                    }
                );
            }
        });
    </script>
}

<table>
    <tr>
        <th>ID</th>
        <th>İsim</th>
        <th>Fiyat (TL)</th>
        <th>Yapımcı</th>
        <th>Kategori</th>
        <th width="140px">Kontrol Tuşları</th>
    </tr>
    @foreach (Game g in Model)
    {
        <tr>
            <td>@g.ID</td>
            <td>@g.Title</td>
            <td>@g.Price</td>
            <td>@g.Developer.Name</td>
            <td>@g.Category.Name</td>
            <td>
                <a href="/Magaza/Duzenle/@g.ID" class="btn btn-green btn-left">Güncelle</a>
                <a class="btn btn-red btn-right" id="sil" data-oid="@g.ID">Sil</a>
            </td>
        </tr>
    }
</table>
