@using DOSP.Models
@model Game

@{
    ViewBag.Title = "Oyun";
    ViewBag.nav = "magaza";
    DataContext cd = new DataContext();
    User user = cd.Users.FirstOrDefault(x => x.Nickname == HttpContext.Current.User.Identity.Name);
}

@section nav {
    <a href="/">Mağaza</a>
    <a>@Model.Title</a>
}

@functions {
    bool UserHasGame()
    {
        DataContext cd = new DataContext();
        User k = cd.Users.FirstOrDefault(x => x.Nickname == HttpContext.Current.User.Identity.Name);
        List<Library> lib = cd.Libraries.Where(x => x.UserID == k.ID).ToList();
        foreach (Library l in lib)
        {
            if (l.GameID == Model.ID)
            {
                return true;
            }
        }
        return false;
    }

    bool gameInCart()
    {
        DataContext cd = new DataContext();
        int SepetID = cd.Baskets.FirstOrDefault(x => x.User.Nickname == HttpContext.Current.User.Identity.Name).BasketID;
        List<BasketGame> sO = cd.BasketGames.Where(x => x.BasketID == SepetID).ToList();
        foreach (BasketGame bG in sO)
        {
            if (bG.GameID == Model.ID)
            {
                return true;
            }
        }
        return false;
    }
}

@section scripts {
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = $(".slide");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "block";
        }

        $("a#canBeAdded").click(function () {       //Sepete ekle
            var id = @Model.ID;
            $.ajax(
                {
                    type: "POST",
                    url: "/Sepet/Ekle/" + id,
                    success: function () {
                        window.location.replace("/");
                    },
                    error: function () {
                        alert("Sepete eklenirken hata oluştu.");
                    }
                }
            );
        });
    </script>
}


<div class="page-container">
    <div class="page-left">
        <div class="slider">
            @{
                int i = 1;
                string path;
                string abP;
                bool exist = true;
                do
                {
                    path = "/Content/Images/gcont/" + Model.ID + "/" + i + ".jpg";
                    abP = HttpContext.Current.Server.MapPath(path);
                    if (System.IO.File.Exists(abP)) { i++; }
                    else { exist = false; }
                } while (exist);
                i--;
                for (int j = 1; j <= i; j++)
                {
                    path = "/Content/Images/gcont/" + Model.ID + "/" + j + ".jpg";
                    <text>
                        <div class="slide">
                            <div class="slideNum">@j / @i</div>
                            <img src="@path" />
                        </div>
                    </text>
                }
            }
            <a class="prev" onclick="plusSlides(-1)" style="left: -30px; border-radius: 5px 0 0 5px;">&#10094;</a>
            <a class="next" onclick="plusSlides(1)" style="right: -30px; border-radius: 0 5px 5px 0;">&#10095;</a>
        </div>
        <div class="page-header">
            <h1>@Model.Title</h1>
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                if (UserHasGame())
                {
                    ViewBag.gamePriceID = "cannotBeAdded";
                    ViewBag.gamePriceHover = "Kütüphanede";
                    ViewBag.icon = "archive";
                }
                else if (gameInCart())
                {
                    ViewBag.gamePriceID = "inCart";
                    ViewBag.gamePriceHover = "Sepette";
                    ViewBag.icon = "check";
                }
                else
                {
                    ViewBag.gamePriceID = "canBeAdded";
                    ViewBag.gamePriceHover = "Sepete Ekle";
                    ViewBag.icon = "shopping-basket";
                }
                <a class="game-price" id="@ViewBag.gamePriceID" title="@ViewBag.gamePriceHover" data-oid="@Model.ID">
                    <i class="fas fa-@ViewBag.icon"></i>
                    <h1>@(Model.Price + "TL")</h1>
                </a>
            }
            else
            {
                <a class="game-price" id="notLogged" title="Oyunu satın alabilmek için giriş yapın." href="/Giris">
                    <h1>@(Model.Price + "TL")</h1>
                </a>
            }
        </div>
    </div>
    <div class="page-right">
        <img src="~/Content/images/gcont/@Model.CoverPhoto" />
        <div id="gameprop">Çıkış Tarihi: @Model.ReleaseDate.ToString("dd MMMM yyyy")</div>
        <br />
        <p>@Model.Description</p>
        <br />
        <div id="gameprop">Yapımcı: <a href="/Yapimci/Firma/@Model.DeveloperID">@Model.Developer.Name</a></div>
        <div id="gameprop">Kategori: @Model.Category.Name</div>
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <div class="ctrl">
                <a class="btn btn-red" href="/Destek/Rapor/@Model.ID"><i class="fas fa-flag" title="Oyunu Raporla"></i></a>
                @if (User.IsInRole("A"))
                {
                    <a href="/Magaza/Duzenle/@Model.ID" class="btn btn-yellow">Düzenle</a>
                }
            </div>
        }

    </div>
</div>